
/Mono/clrzmq/obj
/Mono/Registry/obj
/Mono/Service/obj
/Mono/Shared/obj
/Mono/Examples/TestServiceClient/obj
/Mono/Examples/TestServiceServer/obj
/Mono/Examples/SimpleRPCClient/obj
/Mono/Examples/SimpleRPCServer/obj
/Mono/Examples/PubSubServiceFailureReplace/obj
/Mono/Examples/RPCServiceFailureReplace/obj
/Mono/Examples/Common/obj
/Mono/Examples/AisServices/AisDataChecksumStatistics/obj
/Mono/Examples/AisServices/AisDecoder/obj
/Mono/Examples/AisServices/AisKMLDumperRPC/obj
/Mono/Examples/AisServices/AisKMLDumperSub/obj
/Mono/Examples/AisServices/AisReceiverServiceRPC/obj
/Mono/Examples/AisServices/AisTools/obj
/Mono/Examples/AisServices/Constants/obj
/Mono/Examples/AisServices/RawAisService/obj
/Mono/Examples/AisServices/RawAisServiceTestdata/obj
/Mono/Examples/AisServices/RegistryStresstester/obj

/Mono/_UpgradeReport_Files
/Mono/_ReSharper.Protophase
/Mono/_ReSharper.Registry