
/Mono/clrzmq/obj
/Mono/Registry/obj
/Mono/Service/obj
/Mono/Shared/obj
/Mono/Examples/TestServiceClient/obj
/Mono/Examples/TestServiceServer/obj
/Mono/Examples/SimpleRPCClient/obj
/Mono/Examples/SimpleRPCServer/obj